{{!-- landing page --}}
<div class="container">
    <div class="row">
        <div class="col">
            <p class="p-large">Let's Chat</p>
            <div class="button-container">
                <button class="button" onclick="window.location.href='/login';">
                    <span class="button_lg">
                        <span class="button_sl"></span>
                        <span class="button_text">Enter Chat Room</span>
                    </span>
                </button>
            </div>
        </div>
        <div class="col center">
            <img src="../images/chat.png" alt="Chat">
        </div>
    </div>
</div>