<div class="join-container">
    <p class="p-title">Login</p>
    <main class="join-main">
        <div>
            <form>
                <label>Username</label>
                <input type="username" name="username" id="usernameForm">
                <label>Password</label>
                <input type="password" name="password" id="passwordForm">
                <p class="p-sm">Don't have an account? <a class="hyperlink" href="/signup">Sign Up</a></p>
                <button class="btn" id="submit" type="submit">Submit</button>
            </form>
        </div>
    </main>
</div>
<script src="/js/login.js"></script>

