<div class="join-container">
    <p class="p-title">Create Account</p>
    <main class="join-main">
        <div>
            <form action="main.handlebars">
                <label>Username</label>
                <input type="username" name="username" id="usernameForm">
                <label>Password</label>
                <input type="password" name="password" id="passwordForm">
                <p class="p-sm">Already have an account? <a class="hyperlink" href="/login">Login</a></p>
                <button class="btn" onclick="login()">Submit</button>
            </form>
        </div>
    </main>
</div>
<script src="/js/signup.js"></script>